.dashboardContainer {
  margin: 0px auto;
  padding: 32px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}



.heading {
  text-align: center;
  margin-bottom: 32px;
  font-size: 40px;
  color: #333;
}

.section {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 24px 16px;
  margin-bottom: 32px;
  background: #fff;
}
